/*Main container*/
.container{
  text-align: center;
}

/*Navbar*/
.my-nav{
  background-color: #1d2b2b;
}

/*form search box color*/
.border-color{
    border-color: #d26c22;
    width: 40%;
}

/*display table*/
.my_table{
  width: 100%;
  display: table;
  padding-left: 40px;
  padding-right: 40px;
}

 /*to slide down if there are more records*/
.tab{
  margin-left: 200px;
  margin-right: 200px;
  max-height: 600px;
  overflow: auto;
  clear: both;
}

/*Span class to display temperature*/
.my_span{
  padding: .2em .6em .3em;
  font-size: 75%;
  text-align: center;
  background-color: orange;
}

/*span class to display min temparature*/
.min_span{
  margin-left: 5px;
  padding: .2em .6em .3em;
  font-size: 75%;
  text-align: center;
  background-color: grey;
}

/*table data style*/
.table>tbody>tr>td{
  padding: 8px;
  font-family: 'Roboto',sans-serif;
  font-style: italic;
  text-align: left;
}

/*table body*/
.table>tbody{
  background-color: #1d2b2b;
  color: white;
}

/*table Hover*/
.table-hover tbody tr:hover td{
  background-color: grey;
}

/*Search button */
.btn-default{
  color: white;
  margin-left: 5px;
  background-color: #d26c22;
  border-color: #c1631f;
}

/*Main heading on Navbar*/
h1{
  font-family: 'Dancing Script', cursive;
  color: orange;
  font-size: 40px;
  padding-bottom: 20px;
}

/*Footer heading*/
footer>h1{
  padding-top: 10px;
  padding-right: 5px;
  font-weight: bold;
  text-align: right;
}

/*Footer*/
footer{
  background-color: black;
}

/*Heading to display city name*/
h3{
  font-family: 'Oswald',sans-serif!important;
  font-size: 24px;
  text-align: left;
  padding-left: 200px;
  font-weight: bold;
  color: #d26c22;
}
